.IndexPage {
	.WelcomeCard {
		margin: 1rem -7px;
	}
	.MoodsList__item {
		margin-bottom: 1rem;
	}
	.MoodTabs {
		margin-top: 0.5rem;
	}
	.MoodsInsert {
		right: 7%;
		bottom: 60px;
		z-index: 1000;
		position: fixed;
		margin-bottom: 0;
	}
}
