.NavBar {
	z-index: 1;
	width: 100%;
	.NavBar__avatar {
		margin-top: 3px;
	}
}

.NavBar--sticky {
	top: 0;
	position: fixed;
}

.NavBar--hidden {
	display: none;
}

.Navbar__profile-link {
	display: flex;
	text-decoration: none;
	color: rgb(48, 48, 48);
	&:visited {
		color: rgb(48, 48, 48);
	}
}

.Navbar__username {
	font-size: 1.4rem;
	margin: auto 0.5rem auto 0;
}