// reduce grid's outer paddings on extra small devices
@media (max-width: 48rem) {
	.PageWrapper__Grid {
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}
}
// this styles are absolute since they are moved to components
.PageWrapper {
	/*
		while server side rendered content is on page show loading screen and
		hide children beneath it so they can still be crawled for SEO
	*/
	.PageWrapper_children {
		opacity: 0;
		pointer-events: none;
	}
}
