/*
    dependencies    
*/
@import "~normalize.css/normalize.css";
@import "~font-awesome/css/font-awesome.min.css";
@import '~react-redux-toastr/src/styles/index.scss';
/*
    app    
*/
@import "./pages/IndexPage.scss";
@import "./pages/MoodPage.scss";
@import "./components/NavBar.scss";
@import "./components/Video.scss";
@import "./components/Loading.scss";
@import "./components/Sidebar.scss";
@import "./components/Decision.scss";
@import "./components/MoodsList.scss";
@import "./components/LoginDialog.scss";
/*
    common styles
*/
