.MoodPage, .MoodPage--empty {
	min-width: 100vw;
    min-height: 100vh;
	.MoodPage__video {
		height: 100vh;
		padding-bottom: 0; // paddingBottom is added by .video-container
		position: relative;
	}
	.MoodPage__decision {
		// position: absolute;
		// transform: translateY(-50%);
		top: 48.5%;
		width: 100%;
		text-align: center;
	}
	.NodesInsert, .ShareButton {
		position: fixed;
		margin-bottom: 0;
		bottom: 60px;
	}
	.ShareButton {
		left: 7%;
	}
	.NodesInsert {
		right: 7%;
	}
}
.MoodPage, .MoodPage--empty {
	.MoodPage__header {
		top: 50%;
		width: 100%;
		margin: 0 auto;
		position: absolute;
		text-align: center;
		transform: translateY(-100%);
	}
}
.YoutubeSearch {
	margin-top: 70px;
	min-height: 100vh;
}